Goals:

*   Scrape Complete English Word List from http://www.yougowords.com/english-word-list
*   Write word list to `.csv` file

In [0]:
import pandas as pd

In [0]:
base_url = "http://www.yougowords.com/english-word-list-"

url_list = [base_url + str(i) for i in range(1,1981)]

In [0]:
combined = pd.DataFrame()

# change "10" to "len(url_list)" for scraping all pages

for i in range(10):
  combined = combined.append(pd.read_html(url_list[i])[0].drop(['Favourite'],axis=1))

In [4]:
combined.to_csv("combined.csv",index=False)
pd.read_csv("combined.csv")

             Word  Length  Consonants  Vowels  Syllables               Origin
0              AA       2           0       2          1                  NaN
1             AAA       3           0       3          2                  NaN
2          Aachen       6           3       3          2               German
3            Aaed       4           1       3          2                  NaN
4             Aah       3           1       2          1            Old Irish
5          Aakash       6           3       3          2                  NaN
6         Aakrosh       7           4       3          2                  NaN
7         Aalborg       7           4       3          2               Danish
8           Aalii       5           1       4          3             Hawaiian
9          Aalost       6           3       3          2                  NaN
10       Aalsmeer       8           4       4          2                  NaN
11          Aalto       5           2       3          2                  NaN
12            Aar       3           1       2          1   Middle High German
13       Aardvark       8           5       3          2            Afrikaans
14       Aardwolf       8           5       3          2            Afrikaans
15           Aare       4           1       3          1                  NaN
16         Aarhus       6           3       3          2               Danish
17          Aaron       5           2       3          2               Hebrew
18        Aaronic       7           3       4          3                  NaN
19           AARP       4           2       2          1                  NaN
20            AAS       3           1       2          1                  NaN
21           Aash       4           2       2          1      Scottish Gaelic
22          Aasha       5           2       3          2                  NaN
23         Aashiq       6           3       3          2                  NaN
24      Aashirwad       9           5       4          3                  NaN
25         Aasman       6           3       3          3                  NaN
26             Ab       2           1       1          1              Persian
27            Aba       3           1       2          2               Arabic
28          Abaca       5           2       3          3              Spanish
29        Abacist       7           4       3          3       Middle English
..            ...     ...         ...     ...        ...                  ...
470  Abstractness      12           9       3          3                  NaN
471    Abstractor      10           7       3          3                  NaN
472     Abstracts       9           7       2          2                  NaN
473      Abstruse       8           5       3          2               French
474    Abstrusely      10           7       3          3                  NaN
475  Abstruseness      12           8       4          4                  NaN
476    Abstrusity      10           7       3          4                  NaN
477        Absurd       6           4       2          2        Middle French
478     Absurdism       9           6       3          4                  NaN
479     Absurdity       9           6       3          4       Middle English
480      Absurdly       8           6       2          3                  NaN
481    Absurdness      10           7       3          3                  NaN
482           Abu       3           1       2          2  Proto North Sarawak
483     Abudefduf       9           5       4          4               Arabic
484         Abuja       5           2       3          3                  NaN
485        Abukir       6           3       3          3                  NaN
486        Abulia       6           2       4          4                Latin
487        Abulic       6           3       3          3                  NaN
488         Abuna       5           2       3          3              Amharic
489     Abundance       9           5       4          3       Middle English
490      Abundant       8           5       3          3       Middle English
491    Abundantly      10           7       3          4       Middle English
492         Abura       5           2       3          3               Yoruba
493         Abuse       5           2       3          2       Middle English
494        Abused       6           3       3          2                  NaN
495        Abuser       6           3       3          3       Middle English
496       Abusers       7           4       3          3                  NaN
497       Abusing       7           4       3          3                  NaN
498       Abusive       7           3       4          3               French
499     Abusively       9           5       4          4                  NaN

[500 rows x 6 columns]